In [1]:
import pandas as pd

In [3]:
#Import CSV into pandas DataFrame
vine_review_df = pd.read_csv("/Users/kristenmaskery/Desktop/Amazon_Vine_Analysis/vine_table.csv",low_memory=False)

In [5]:
vine_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R135Q3VZ4DQN5N,5,0.0,0.0,N,Y
1,R2N0QQ6R4T7YRY,5,0.0,0.0,N,N
2,R3N5JE5Y4T6W5M,5,0.0,0.0,N,Y
3,R2I150CX5IVY9Q,5,0.0,0.0,N,Y
4,R1RM9ICOOA9MQ3,5,0.0,0.0,N,Y

In [12]:
#Retrieve all reviews where total vote count is above 20 
total_votes_df = vine_review_df.loc[vine_review_df['total_votes'] >= 20]

In [14]:
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
49,R16YC6SMGKA8SR,5,23.0,23.0,N,Y
709,R5O4WE9UM60B0,1,29.0,29.0,N,Y
1077,R2EKRVCRC7U0IY,1,22.0,24.0,N,Y
1398,R2OKV47GETH0L7,5,24.0,24.0,N,Y
1435,R36LII9IITE17,1,22.0,24.0,N,Y

In [69]:
#Retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
helpful_total_votes_df = total_votes_df.loc[(total_votes_df['total_votes'])/(total_votes_df['helpful_votes']) >=0.5]

In [70]:
helpful_total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
49,R16YC6SMGKA8SR,5,23.0,23.0,N,Y
709,R5O4WE9UM60B0,1,29.0,29.0,N,Y
1077,R2EKRVCRC7U0IY,1,22.0,24.0,N,Y
1398,R2OKV47GETH0L7,5,24.0,24.0,N,Y
1435,R36LII9IITE17,1,22.0,24.0,N,Y

In [71]:
#Retrieve all the rows where a review was written as part of the Vine program
paid_review_df = helpful_total_votes_df.loc[helpful_total_votes_df['vine'] =="Y"]

In [72]:
paid_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
243667,R15PXA9XU9ZKSU,4,29.0,29.0,Y,N
249955,R2LJ4QYQ4PYDEH,5,24.0,26.0,Y,N
381970,R2PJWWQZ37WCIC,5,95.0,96.0,Y,N
383020,R33G2VDKRN2USY,5,21.0,21.0,Y,N
735448,R13R4X37T2U50A,4,52.0,57.0,Y,N

In [73]:
#Retrieve all the rows where the review was not part of the Vine program
unpaid_review_df = helpful_total_votes_df.loc[helpful_total_votes_df['vine'] =="N"]

In [74]:
unpaid_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
49,R16YC6SMGKA8SR,5,23.0,23.0,N,Y
709,R5O4WE9UM60B0,1,29.0,29.0,N,Y
1077,R2EKRVCRC7U0IY,1,22.0,24.0,N,Y
1398,R2OKV47GETH0L7,5,24.0,24.0,N,Y
1435,R36LII9IITE17,1,22.0,24.0,N,Y

In [75]:
#Determine the total number of reviews
vine_review_count_df = helpful_total_votes_df['review_id'].count()
vine_review_count_df

7962

In [76]:
#Determine the number of 5-star reviews
five_star_review_df= helpful_total_votes_df.loc[helpful_total_votes_df['star_rating']== "5"]
five_star_count = five_star_review_df['review_id'].count()
five_star_count

4514

In [77]:
#Determine the number of 5-star paid reviews
five_star_paid_df =five_star_review_df[five_star_review_df['vine']=='Y']
five_star_paid_count = five_star_paid_df['review_id'].count()
five_star_paid_count

11

In [78]:
#Determine the percentage of 5-star paid reviews
paid_percenage = five_star_paid_count / float(five_star_count)*100
paid_percenage

0.24368630926007973

In [81]:
#Determine the number of 5-star unpaid reviews
five_star_unpaid_df =five_star_review_df[five_star_review_df['vine']=='N']
five_star_unpaid_count= five_star_unpaid_df['review_id'].count()
five_star_unpaid_count

4503

In [82]:
 #Determine the percentage of 5-star unpaid reviews
unpaid_percentage = five_star_unpaid_count / float(five_star_count)*100
unpaid_percentage

99.75631369073992